.container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}

.container.open-sidebar {
    left: 240px;
}

#header, #footer{
    position:fixed;
    display:block;
    width: 100%;
    z-index:9;
}

#header{
    top:0px;
}

#footer{
    bottom:0px;
}

#sidebar {
    position: absolute;
    left: -240px;
    background: #DF314D;
    width: 240px;
    height: 100%;
    box-sizing: border-box;
}

#sidebar p {
    color: white;
}

#sidebar .profile-conainer {
    position: relative;
}

#sidebar .profile-conainer #login-user {
    width : 100%;
    height: 180px;
    margin: 0 auto;
    position: relative;
}

#sidebar .profile-conainer img{
    border : none;
}

.cover {
    position: absolute;
    width : 100%;
    height: 100%;
    top : 0px;
    background : rgba(0,0,0,0.2);
}

#sidebar .background {
    position: absolute;
    width : 100%;
    height: 100%;
    top : -5px;
    margin-bottom : 5px;
    background-image: url('/images/pic_back.jpg');

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#sidebar .profile {
    margin: 0 auto;
    position: relative;
    top: 25%;
    width: 50%;
}

#sidebar .profile .pic {
    position: relative;
    width : 80px;
    height: 80px;
    border-radius: 80px;
    left: 16%;
}

#sidebar .profile .name {
    position: relative;
    margin: 0 auto;
    top: 5px;
    text-align: center;
    font-weight: bold;
}

#sidebar .profile .point {
    position: relative;
    margin: 0 auto;
    top: 5px;
    text-align: center;
}

#sidebar .sign {
    position: absolute;
    color: white;
    float: right;
    top: 10px;
    right: 10px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #C9223D;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
    background: #C9223D;
}

.main-content .header {
    width: 100%;
    height: 60px;
    padding: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.header .logo{
    position: relative;
    float: left;
    padding-left: 10px;
}

.header .logo p {
    margin: 0 0 -5px 0;
    font-weight: 70;
    color: white;
}

.header .logo .title{
    font-size: 20px;
    font-weight: bold;
}

.header .logo .sub-title{
    font-size: 14px;
}

.main-content #sidebar-toggle {
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 15px 7px;
    float: left;
}
.main-content #sidebar-toggle .bar{
     display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}
.main-content #sidebar-toggle .bar:last-child{
     margin-bottom: 0;
}

#slide-bottom {
    position: absolute;
    bottom: 0px;
    height: 150px;
}