@font-face {
font-family: 'GoodFont'; /* 폰트 패밀리 이름 주기*/
src: url('resources/fonts/NANUMGOTHICCODING.TTF'); /*폰트 파일 주소*/
}

body, html {
    height: 100%;
    margin: 0;
    overflow:hidden;
    font-family: GoodFont;
    font-weight: 100;
}

.main-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.main-content .content{
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.main-content .content h1{
    font-weight: 100;
}
.main-content .content p{
    width: 100%;
    line-height: 160%;
}

.button {
    cursor: pointer;
}

.poll .plus {
    position: relative;
    color: white;
    background: rgba(0,0,0, .2);
    border-radius: 96px;
    font-size: 56px;
    width: 96px;
    height: 96px;
    padding-top: 12px;
    text-align: center;
    font-weight : 150;
}

.content .flat {
    position: absolute;
    right: 32px;
    bottom: 32px;
    color: white;
    background: red;
    border-radius: 96px;
    font-size: 32px;
    width: 56px;
    height: 56px;
    padding-top: 8px;
    text-align: center;
    font-weight : 200;
}
