/* Style for our header texts
* --------------------------------------- */
h1{
font-size: 5em;
font-family: arial,helvetica;
color: #fff;
margin:0;
padding:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
text-align:center;
padding: 8% 0 0 0;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3,
#section4{
background-size: cover;
background-attachment: fixed;
}

/* Defining each sectino background and styles
* --------------------------------------- */
#section0{
background-image: url(/images/bg1.jpg);
}
#section1{
background-image: url(/images/bg2.jpg);
}
#section2{
background-image: url(/images/bg3.jpg);
}
#section3{
background-image: url(/images/bg4.jpg);
}
#section4{
background-image: url(/images/bg4.jpg);
}

.content .title{
    position: relative;
    top: 56px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 150;
}

.poll{
    position: relative;
    top: 15%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.poll div{
    position: relative;
    text-align: center;
    padding: 32px;
}

.poll .selection {
    position: relative;
    width:250px;
    border-radius: 48px;
    margin: 16px;
    color: white;
    background: rgba(0,0,0,.35);
    border: 1px white solid;
    font-size: 24px;
    padding: 16px;
    text-align: center;
    font-weight : 150;
}

.ad {
    position: fixed;
    bottom: 15px;
    margin: 0 auto;
    align: center;
    width: 100%;
}