<% include top.html %>
<!--<meta name="author" content="Alvaro Trigo Lopez" />-->
<!--<meta name="description" content="fullPage fixed full-screen backgrounds." />-->
<!--<meta name="keywords"  content="fullpage,jquery,demo,screen,fixed,fullscreen,backgrounds,full-screen" />-->
<!--<meta name="Resource-type" content="Document" />-->

<link rel="stylesheet" type="text/css" href="/style/jquery.fullPage.css"/>
<link rel="stylesheet" type="text/css" href="/style/poll.css"/>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<script type="text/javascript" src="/scripts/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="/scripts/poll.js"></script>

<% include header.html %>
<div id="fullpage">
    <div class="section" id="section0"><h1>fullPage.js</h1></div>
    <div class="section" id="section1"><h1>Slide Backgrounds</h1></div>
    <div class="section" id="section2"><h1>Lovely images <br/>for a lovely page</h1></div>
    <div class="section" id="section3"><h1>One Image = One thousand words</h1></div>
</div>
<img class="background" src="" alt="" border="0"/>

<div class="title">
    <p>컨텐츠 내용</p>
</div>
<div class="poll">
    <div class="selection button" style="display:inline-block">
        <p>내용</p>
        <img src="" alt=""/>
    </div>

    <div class="plus button" style="display:inline-block">+</div>
</div>

<div class="flat button">+</div>
</div>
<% include bottom.html %>